.skill-container {
  width: 100%;
}

.skill {
  margin: 20px 0;
  position: relative;
}

.skill-bar {
  width: 100%;
  background-color: #e0e0e0;
  height: 10px;
  position: relative;
}

.skill-level {
  height: 10px;
  background-color: #dc0a0a;
  position: absolute;
  top: 0;
  left: 0;
}

.slider {
  width: 20px;
  height: 20px;
  background-color: #dc0a0a;
  position: absolute;
  top: -5px;
}
